p {
  color: blue;
}

a:hover {
  color: orange;
}

header, footer {
  background-color: lightblue;
}

header, footer {
  color: black;
}

header h1{
  text-align: center;
}

nav ul{
  list-style: none;
}

nav ul li{
  display:inline;
  margin-right:1em;
}

#page {
width: 100%;
margin-left: auto;
margin-right: auto;
}
#animalmenu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
}
#animalmenu > div{
  flex: 1;
}
#animalmenu div p{
  text-align: center;
}
#animalmenu img{
  width:100%;
}

main{
  display: flex;
  flex-direction: row;
}
.image{
  flex: 1;
}
.content{
  flex: 3;
}

main div img{
  width: 300px;
  height: auto;
}

@media screen and (min-width: 40em) { 
#page {
  max-width: 40em;
}
#animalmenu{
  flex-direction: row;
}
}

@media screen and (min-width: 64em) { 
#page {
  max-width: 64em;
}
}
@media screen and (min-width: 90em) { 
  #page {
    max-width: 90em;
  }
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
}

#first_name{
  padding: 0.7em;
}

#last_name{
  padding: 0.7em;
}

#animal_description{
  padding: 0.7em;  
}

.submission{
  text-align: center;
}
  
